body {
	background-image: url('img/megamendung_blue.jpg');
	color: black;
	font-size: 90%;
	font-family: Georgia, 'Lucida Sans Unicode';
	line-lenght: 1.5;
	text-align: left;
}

a{
	text-decoration: none;
}

a:link, a:visited {
	color: black;
}

a:hover, a:active {
	background-color: #CF5C3F;
	color: #FFF;
}

.body{
	margin: 0 auto;
	width: 80%;
	clear: both;
}

.mainHeader h3{
	background-color: #013600;
	color: white;
	height: 30px;
	line-height: 25px;
	padding: 10px 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 auto;
}

.mainHeader img {
	width: 100%;
	height: auto;
}

.mainHeader h4 marquee{
	background-color: #c5ffab;
	color: #2e560d;
	height: 30px;
	line-height: 30px;
	padding: 5px 15px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 auto;
}

.mainHeader nav{
	background-color: #37b176;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li{
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active ,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background-color: yellow;
	color: black;
	text-shadow: none;
}

.mainHeader nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

ul.menu li{
	display: inline-block;
}

ul.subMenu{
	display: none;
	background-color: #37b176;
	color: black;
	text-shadow: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 40px;
}

li:hover ul.subMenu {
	display: block;
	position: absolute;
}

ul.subMenu li{
	display : block;
}
